<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fengwo.module_login">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".mvp.ui.activity.FaceVerifyAgreementActivity"
          ></activity>
        <!-- <activity -->
        <!-- android:name="com.fengwo.module_login.mvp.ui.activity.SplashActivity" -->
        <!-- android:theme="@style/SplashTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"      android:screenOrientation="portrait" /> -->
        <!-- <action android:name="android.intent.action.VIEW"      android:screenOrientation="portrait" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER"      android:screenOrientation="portrait" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoginInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoginByPhoneActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activity.MyCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.EdittextInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ViewsHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyFavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BlackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RealNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MineDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LivingTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ProfitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CashOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BindCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.HuafenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AccountRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ReceiveGiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChongzhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DuihuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.EditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ProfitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyGuardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ScanCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ComplaintActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".mvp.ui.activity.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.ui.activity.SendGiftHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RankDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NobilityPrivilegeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AgentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MonthGiftWallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.GonghuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyGonghuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ComplaintsMyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ComplaintDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ComplaintRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BigPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BigPhotoWallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RealIdCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.ui.activity.acc_cancel.AccCancelConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.ui.activity.acc_cancel.AccCancelReasonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.ui.activity.acc_cancel.AccCancelTipsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.ui.activity.ContributeTodayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mvp.ui.activity.MineCardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RealAnchorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.OldRealAnchorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FaceVerifyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.ui.activity.MyBackpackActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.DownGiftService"
            android:screenOrientation="portrait" />
    </application>

</manifest>