<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengwo.module_vedio">

    <application>
        <activity
            android:name=".mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShowSearchAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.TencentTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SmallVedioDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.shortvideo.ShortVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLivePush"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".mvp.ui.activity.shortvideo.SelectSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.shortvideo.BuildSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.shortvideo.PostShortVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PostSmallVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SelectSmallVideoMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.shortvideo.UploadShortVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeLivePush"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
    </application>
</manifest>


