<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengwo.module_chat">

    <application>

        <activity
            android:name=".mvp.ui.activity.SocialSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
     <!--   <activity
            android:name=".mvp.ui.activity.HotCircleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".mvp.ui.activity.social.AddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.publish.PublishTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.message.MessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.social.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChatCardSameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChatCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".mvp.ui.activity.publish.PostCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.chat_new.ChatSingleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".mvp.ui.activity.chat_new.LargerImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".mvp.ui.activity.chat_new.ChatGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".mvp.ui.activity.chat_new.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.social.TestChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.social.userpage.UserSocialPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChatGroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChatGroupMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BubbleRecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RecommendDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mvp.ui.activity.CardHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CardSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PostCardCateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChatGroupNoticeEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.publish.PostCardTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChatCardActivityNew"
            android:screenOrientation="portrait" />
    </application>
</manifest>
